.galleryImage {
  max-width: 80%;
  aspect-ratio: 251/331;
  transform-origin: top center;

  transition:
    rotate 0.8s cubic-bezier(0.23, 1, 0.32, 1),
    scale 0.8s cubic-bezier(0.23, 1, 0.32, 1);

  -webkit-touch-callout: none;
  user-select: none;
}

@media (hover: hover) {
  .galleryImage:hover {
    scale: 1.05;
    rotate: -2deg;
  }
}
@media (hover: none) {
  :global(.rotating-image3.tapped),
  :global(.rotating-image4.tapped),
  :global(.rotating-image5.tapped) {
    animation: swingLeftToRight 1s ease-in-out;
  }

  :global(.rotating-image1.tapped),
  :global(.rotating-image2.tapped) {
    animation: swingRightToLeft 1s ease-in-out;
  }
}

@keyframes swingRightToLeft {
  0% {
    rotate: 0deg;
  }
  50% {
    rotate: -4deg;
  }
  100% {
    rotate: 0deg;
  }
}
@keyframes swingLeftToRight {
  0% {
    rotate: 0deg;
  }
  50% {
    rotate: 4deg;
  }
  100% {
    rotate: 0deg;
  }
}
/* override for image number 3 */
.galleryImage.wide {
  max-width: 100%;
  aspect-ratio: 1356/1007;
}
