@keyframes rotation-animation1 {
  0% {
    transform: rotate(-4.08deg);
  }
  40% {
    transform: rotate(2.72deg);
  }
  100% {
    transform: rotate(4.08deg);
  }
}

@keyframes rotation-animation2 {
  0% {
    transform: rotate(2.72deg);
  }
  70% {
    transform: rotate(-2.72deg);
  }
  100% {
    transform: rotate(-3.4deg);
  }
}

@keyframes rotation-animation3 {
  0% {
    transform: rotate(-3.4deg);
  }
  40% {
    transform: rotate(-3.4deg);
  }
  95% {
    transform: rotate(3.4deg);
  }
  100% {
    transform: rotate(3.4deg);
  }
}

@keyframes rotation-animation4 {
  0% {
    transform: rotate(2.72deg);
  }
  20% {
    transform: rotate(2.38deg);
  }
  90% {
    transform: rotate(-4.08deg);
  }
  100% {
    transform: rotate(-4.42deg);
  }
}

@keyframes rotation-animation5 {
  0% {
    transform: rotate(-2.38deg);
  }
  30% {
    transform: rotate(-2.38deg);
  }
  75% {
    transform: rotate(4.76deg);
  }
  100% {
    transform: rotate(5.44deg);
  }
}

@keyframes rotation-animation6 {
  0% {
    transform: rotate(6.8deg);
  }
  20% {
    transform: rotate(6.8deg);
  }
  50% {
    transform: rotate(-6.8deg);
  }
  100% {
    transform: rotate(-6.8deg);
  }
}

.rotating-image1 {
  transform-origin: top center;
  animation: rotation-animation1 linear;
  animation-timeline: scroll(y);
}

.rotating-image2 {
  transform-origin: top center;
  animation: rotation-animation2 linear;
  animation-timeline: scroll(y);
}

.rotating-image3 {
  transform-origin: top center;
  animation: rotation-animation3 linear;
  animation-timeline: scroll(y);
}

.rotating-image4 {
  transform-origin: top center;
  animation: rotation-animation4 linear;
  animation-timeline: scroll(y);
}

.rotating-image5 {
  transform-origin: top center;
  animation: rotation-animation5 linear;
  animation-timeline: scroll(y);
}

.rotating-image6 {
  transform-origin: top center;
  animation: rotation-animation6 linear;
  animation-timeline: scroll(y);
}

.gallery-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 20px;
  margin-bottom: 120px;
}

.gallery-row {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  flex-wrap: wrap;
}

.gallery-item {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  &.is-text {
    flex-direction: column;
  }
}
.gallery-item img {
  transition:
    rotate 0.8s cubic-bezier(0.23, 1, 0.32, 1),
    scale 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.gallery-item:not(.is-text):hover img {
  scale: 1.05;
}

.gallery-text-wrapper {
  transition: transform 0.4s ease-in-out;
}
.gallery-text-wrapper:hover {
  transform: translateX(20px);
}

.gallery-title {
  text-align: center;
  margin-bottom: 0;
  font-weight: 600;
  font-size: clamp(32px, 6vw, 120px);
}

.gallery-subtitle {
  margin-top: 0;
  font-size: clamp(14px, 1.5vw, 32px);
}

.gallery-image-base {
  object-fit: contain;
  max-width: 80%;
}

/* override for image number 3 */
.gallery-image-wide {
  max-width: 110%;
}
