:global(::view-transition-group(about-content)),
:global(::view-transition-old(about-content)),
:global(::view-transition-new(about-content)) {
  animation-duration: 0.5s;
}

.content {
  view-transition-name: about-content;
  display: flex;
  flex-direction: column;
  padding: 0 5vw;
  margin-bottom: 200px;
  gap: 5vw;
  box-sizing: border-box;
}

h1,
h3 {
  font-family: "Gabarito";
}

h4 {
  margin-bottom: 0;
}

.titleSubtext {
  /* Add styles if needed */
}
