.contentRowLeft {
  display: grid;
  grid-template-columns: 1.2fr 0.8fr;
  gap: 2rem;
  align-items: center;
  justify-items: left;
  margin-bottom: clamp(3rem, 6vw, 6rem);
}

.contentRowRight {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  align-items: center;
  justify-items: left;

  margin-bottom: clamp(3rem, 6vw, 6rem);
}

@media (max-width: 900px) {
  .contentRowLeft,
  .contentRowRight {
    grid-template-columns: 1fr;
    gap: 4rem;
  }
}

.textContainer {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.title {
  font-size: var(--font-h1);
  font-weight: 700;
  margin: 0;
}

.titleSubtext {
  margin: 0;
}

.subTitle {
  font-size: var(--font-h2);
  font-weight: 700;
  margin-bottom: 0;
}

.footnote {
  font-size: 0.67rem;
  opacity: 0.67;
}

.textContainer p {
  line-height: 1.75;
  margin: 0;
  white-space: pre-line;
  max-width: 66ch;
}

.listContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.listTitle {
  font-size: var(--font-h4);
  font-weight: 700;
  margin: 0;
}

.listContainer ul {
  padding-inline-start: 1.5rem;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.listContainer li {
  line-height: 1.5;
}
