/* aboutMe.css */
h4 {
  margin-bottom: 0;
}

ul {
  padding-left: 10px;
  margin-top: 5px;
}

.title {
  margin-bottom: 1rem;
  align-self: flex-start;
}
.title-subtext {
  text-indent: 0 !important;
  margin-bottom: 20px !important;
}
.top-image-container{
  text-align: center;
  height: clamp(60px,11vw,120px);
  margin-bottom: 40px;
}
.top-image{
  max-width: 100%;
  max-height: 100%;
}
.content {
  display: flex;
  flex-direction: column;
  padding: 0 5vw;
  margin-bottom: 200px;
  gap: 100px;
  box-sizing: border-box;
}

.content-row {
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex-wrap: wrap;
}

.content-col {
  display: flex;
  flex-direction: column;
}

.text-container-large,
.text-container-small {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: clamp(0px, calc(5vw - 40px), 40px);
}

.text-container-large {
  flex: 3 0 300px;
}

.text-container-small {
  flex: 2 0 200px;
}

.text-container-large h1,
.text-container-small h1 {
  font-size: clamp(32px, 6vw, 120px);
  margin: 0;
}

.text-container-large p,
ul,
.text-container-small p,
ul {
  font-size: clamp(12px, 1.5vw, 24px);
  text-indent: 2rem;
  margin: 0;
  width: 100%;
  line-height: 1.6;
  white-space: pre-line;
}

.image-container-large,
.image-container-small {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  min-height: 400px;
}

.image-container-large {
  flex: 3 0 300px;
}
.image-container-small {
  flex: 2 0 200px;
  z-index: 20;
}

.about-image {
  max-height: 90%;
  max-width: 90%;
  position: absolute;
  object-fit: contain;
  transition:
    transform 600ms ease-in-out,
    box-shadow 600ms ease-in-out,
    z-index 350ms;
}

.is-front {
  z-index: 2;
  transform: translate(-6%, -6%) rotate(-4deg);
  box-shadow: rgba(0, 0, 0, 0.4) 20px 20px 20px;
}
.image-container-large:hover .is-front,
.image-container-small:hover .is-front {
  transform: translate(-20%, -8%) rotate(-8deg);
}

.image-container-large:hover .is-back,
.image-container-small:hover .is-back {
  transform: translate(8%, 8%) rotate(4deg);
}

.is-back {
  z-index: 1;
  transform: translate(6%, 6%) rotate(4deg);
  box-shadow: rgba(0, 0, 0, 0.4) 20px 20px 20px;
}


.shift-left {
  transform: translate(-95%, -10%) rotate(-10deg) !important;
  box-shadow: rgba(0, 0, 0, 0.2) 40px 40px 40px;
  pointer-events: none;
}

.shift-right {
  transform: translate(40%, 10%) rotate(10deg) !important;
  box-shadow: rgba(0, 0, 0, 0.8) 10px 10px 10px;
  pointer-events: none;
}

.shift-up {
  transform: translate(-10%, -105%) rotate(-10deg) !important;
  box-shadow: rgba(0, 0, 0, 0.2) 40px 40px 40px;
  pointer-events: none;
}

.shift-down {
  transform: translate(10%, 25%) rotate(10deg) !important;
  box-shadow: rgba(0, 0, 0, 0.8) 10px 10px 10px;
  pointer-events: none;
}
