.content {
  view-transition-name: project-content;
  display: flex;
  flex-direction: column;
  padding: 0 5vw;
  margin-bottom: 200px;
  gap: 100px;
  box-sizing: border-box;
}
.projectTopSpacer {
  height: 0vh;
}
.projectTitle {
  font-size: clamp(32px, 6vw, 120px);
}
.projectDescription {
  font-size: clamp(12px, 1.5vw, 24px);
  width: 80%;
}
.projectDetails {
  white-space: 0;
  text-indent: 0;
}
.goBackContainer {
  margin-top: 100px;
  justify-items: center;
  font-family: "Gabarito";
}
.goBackImageContainer {
  height: 80px;
  width: 160px;

  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../assets/scribbleBackground.png");

  text-align: center;
  align-content: center;
}
.goBackLink {
  text-decoration: none;
  cursor: pointer;
  color: #2f2d2d;
  align-items: center;
}
