.burgerButton {
  cursor: pointer;
  border: none;
  background: transparent;
  padding: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 60%;
}

.burgerButton img {
  height: 100%;
  max-width: 100%;
}