
/* FOOTER */
.footer-container {
  font-family: "Gabarito";
  color: #999999;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  max-height: 320px;
  min-height: 160px;
  background-color: #1b1919;

  padding: 20px 10% ;
}
.footer-row {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer-container-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
}

.footer-container-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  text-align: right;
}
.footer-text {
  margin: 2px 0;
  font-size: 0.9rem;

  &.bold {
    margin: 2px 0;
    font-weight: bold;
  }
}
.footer-bottom-text {
  flex: 1;
  padding-top: 10px;
  margin-bottom: 0;
  font-size: 0.7rem;
  font-weight: 100;
  text-align: center;
  align-content: flex-end;
}

/* TOP ICON */
.top-icon-container {
  text-align: center;
  height: clamp(40px, 10vw, 80px);
  margin-bottom: 40px;
}
.top-image {
  max-width: 100%;
  max-height: 100%;
}
