/* NAVBAR */
.navbarContainer {

  margin: 40px 0 40px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;

}

.navbar-logo-container {
  height: 60px;
}
.navbarRow {

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: stretch;
  height: 16vh;

}

.navbarItem {
  display: flex;
  flex: 1;
  height: 100%;
  text-decoration: none;
  cursor: pointer;
  color: #ffffff;
  align-items: center;
  justify-content: center;
  text-align: center;

  
  background-repeat: no-repeat;
  background-position: center;
  background-size: clamp(0px,100%,160px) clamp(0px,100%,14vw);
  

  &.is-scribble {
    color: #2f2d2d;
    background-image: var(--scribble-url);
  }

  span {
    position: relative;
    z-index: 1;
    font-weight: 600;
    line-height: 8vh;
    height: 8vh;
    width: 80%;
    font-size: clamp(0.6rem,2.5vw,1.1rem);
  }

  &.is-scribble span {
    font-weight: 800;
  }
}

/*LANG SWITCH*/
.lang-switch-container {
  flex: 1;
  text-decoration: none;
  font-size: 1em;
  cursor: pointer;
  text-align: center;
  align-content: center;
  height: 100%;
}

.lang-text {
  position: relative;
  z-index: 1;
  font-weight: normal;
  margin: 0;
}
.lang-option {
  vertical-align: middle;
  transition: all 0.2s ease;
}
.lang-option.inactive {
  font-size: calc(clamp(0.6rem,2.5vw,1.1rem)*0.9);
}
.lang-option.active {
  font-weight: 800;
  font-size: calc(clamp(0.6rem,2.5vw,1.1rem)*1.1);
}

/* FOOTER */
.footer-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  max-height: 240px;
  min-height: 140px;
  background-color: #1b1919;
  color: #ffffff;
  padding: 20px 10% 0px;
}
.footer-row {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer-container-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
}

.footer-container-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  text-align: right;
}
.footer-text {
  margin: 2px 0;
  font-size: 0.9rem;

  &.bold {
    margin: 2px 0;
    font-weight: bold;
  }
}
.footer-bottom-text {
  flex: 1;
  padding-top: 10px;
  margin-bottom: 0;
  font-size: 0.7rem;
  font-weight: 100;
  text-align: center;
  align-content: flex-end;
}

/* TOP ICON */
.top-icon-container {
  text-align: center;
  height: clamp(40px, 10vw, 80px);
  margin-bottom: 40px;
}
.top-image {
  max-width: 100%;
  max-height: 100%;
}
