.lang-switch-container {
  display: flex;
  flex: 1;
  min-width: 0;
  height: 100%;
  text-decoration: none;
  cursor: pointer;
  color: #e5dcdc;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.lang-text {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  
  width: 80%;
  height: 8vh;
  line-height: 8vh;
  margin: 0;
}

.lang-option {
  transition: all 0.2s ease;
  font-family: "Gabarito", sans-serif;
  font-size: clamp(0.6rem, 2.5vw, 1.1rem);
}

.lang-option.inactive {
  font-weight: 400;
  opacity: 0.6;
  font-size: calc(clamp(0.6rem, 2.5vw, 1.1rem) * 0.9);
}

.lang-option.active {
  font-weight: 800;
  opacity: 1;
  font-size: clamp(0.6rem, 2.5vw, 1.1rem);
}