.topImageContainer {
  text-align: center;
  height: clamp(60px, 11vw, 120px);
  margin-bottom: 40px;
}

.topImage {
  max-width: 100%;
  max-height: 100%;
}
.topIconContainer {
  text-align: center;
  height: clamp(40px, 10vw, 80px);
  margin-bottom: 40px;
}
.topImage {
  max-width: 100%;
  max-height: 100%;
}
