.contentRow {
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex-wrap: wrap;
}

.title {
  margin-bottom: 1rem;
  align-self: flex-start;
}

.titleSubtext {
  margin: 10px 0px 0;
  text-indent: 0px !important;
}

.textContainerLarge,
.textContainerSmall {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: clamp(0px, calc(5vw - 40px), 40px);
}

.textContainerLarge {
  flex: 3 0 300px;
}

.textContainerSmall {
  flex: 2 0 200px;
}

.textContainerLarge h1,
.textContainerSmall h1 {
  font-size: clamp(32px, 6vw, 120px);
  margin: 0;
}

.textContainerLarge p,
.textContainerLarge ul,
.textContainerSmall p,
.textContainerSmall ul {
  font-size: clamp(12px, 1.5vw, 24px);
  text-indent: 2rem;
  margin: 0;
  padding-left: 10px;
  width: 100%;
  line-height: 1.5;
  white-space: pre-line;
}

.textContainerLarge p li,
.textContainerSmall p li {
  text-indent: 0;
}
