.imageContainerHorizontal,
.imageContainerVertical {
  justify-self: center;
  position: relative;
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
  cursor: pointer;

  perspective: 1000px;
  transform-style: preserve-3d;
}

.imageContainerVertical {
  min-height: 400px;
  max-width: 60vw;
  padding-top: 6%;
  padding-right: 10%;
  padding-bottom: 3%;
  padding-left: 6%;
}

.imageContainerHorizontal {
  min-height: 300px;
  max-width: 80vw;
  padding-top: 5%;
  padding-right: 3%;
  padding-bottom: 4%;
  padding-left: 4%;
}

@media (max-width: 900px) {
  .imageContainerVertical {
    padding: 20px;
    min-height: unset;
    height: auto;
    max-width: min(70vw, 400px);
  }
  .imageContainerHorizontal {
    padding: 10px;
    min-height: unset;
    height: auto;
    max-width: min(80vw, 500px);
  }
}

.aboutImageVertical,
.aboutImageHorizontal {
  grid-area: 1 / 1;
  position: relative;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  filter: drop-shadow(rgba(0, 0, 0, 0.33) 15px 15px 15px);
}

.aboutImageVertical {
  aspect-ratio: 42 / 67;
}

.aboutImageHorizontal {
  aspect-ratio: 67 / 42;
}

@media (hover: hover) and (pointer: fine) {
  .imageContainerVertical[data-front="one"]:has(img:hover) img:first-of-type,
  .imageContainerHorizontal[data-front="one"]:has(img:hover) img:first-of-type {
    rotate: -5deg;
  }

  .imageContainerVertical[data-front="one"]:has(img:hover) img:last-of-type,
  .imageContainerHorizontal[data-front="one"]:has(img:hover) img:last-of-type {
    rotate: 2.5deg;
  }

  .imageContainerVertical[data-front="two"]:has(img:hover) img:first-of-type,
  .imageContainerHorizontal[data-front="two"]:has(img:hover) img:first-of-type {
    rotate: 2.5deg;
  }

  .imageContainerVertical[data-front="two"]:has(img:hover) img:last-of-type,
  .imageContainerHorizontal[data-front="two"]:has(img:hover) img:last-of-type {
    rotate: -5deg;
  }

  .aboutImageVertical,
  .aboutImageHorizontal {
    transition: rotate 0.5s cubic-bezier(0.2, 0.8, 0.2, 1);
  }
}
