@font-face {
  font-family: 'Gabarito'; 
  src: url('./assets/Gabarito-VariableFont_wght.ttf') format('truetype-variations');
  font-weight: 100 900; 
  font-style: normal;
}

:root {
  --bs-body-font-family: 'Gabarito', system-ui, sans-serif;
  font-family: var(--bs-body-font-family);
  line-height: 1.5;
  font-weight: 400;

  --primary-bg-color: #2F2D2D;
  --primary-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  overflow-x: hidden  ;
  overflow-y: auto;
}

html,body,#root{
  background-color: var(--primary-bg-color);
  color: var(--primary-color);
  height: 100%; 
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}



body {
  margin: 0;
  min-width: 320px;
}

