.gridContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
  box-sizing: border-box;
  align-items: center;
}

.gridRow {
  display: flex;
  width: 90%;
  justify-content: center;
}

.gridRow.small {
  gap: 5px;
}
.gridRow.large {
  gap: 5px;
}

.gridCell {
  flex: 1;
}
.gridImage{
  view-transition-name: 'hero-image';
}

.imgWrap {
  position: relative;
  width: 100%;
  overflow: hidden;

  box-sizing: border-box;
}

.imgWrap:hover {
  img {
    scale: 1.1;
  }

  .imgTitleOverlay {
    opacity: 0;
  }
}

.imgTitleOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* Replaced background-color with a radial gradient */
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 0.8) 0%,
    rgba(0, 0, 0, 0) 150%
  );
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s ease;
  z-index: 10;
  pointer-events: none;
}

.imgTitle {
  color: #e5dcdc;
  font-size: 20px;
  text-align: center;
  font-weight: bolder;
  font-family: "Gabarito";
  padding: 40px 80px;
  /* Added a simple, clean drop shadow */
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.8);
}
.imgTitleOverlay:hover {
  opacity: 1;
}

.imgWrap.smallProjects {
  aspect-ratio: 1 / 1.386;
}
.imgWrap.largeProjects {
  aspect-ratio: 367 / 248;
  cursor: pointer;
}
.imgWrap.largePhotos {
  aspect-ratio: 1.5;
}
.imgWrap.smallProjects img {
  aspect-ratio: inherit;
}
.imgWrap.largeProjects img {
  aspect-ratio: inherit;
}
.imgWrap.largePhotos img {
  aspect-ratio: inherit;
}

.imgWrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;

  transition: scale 0.3s ease;

  will-change: transform;
}
