.image-container-large {
  flex: 3;

  display: flex;
  max-width: 100%;

  max-width: 100%;
}
.image-container-small {
  flex: 3;

  display: flex;
  max-width: 100%;

  max-width: 100%;
}
.image-container img {
     
 
  max-height: 100%; 
  object-fit: contain;
}